# Python stuff
*.pyc
__pycache__

# macOS
.DS_Store

# Python binaries
*.egg-info
dist
build

# log files
*.log*

# Virtual environment
venv
.venv
.python-version

# Visual Studio code settings
.vscode

# database
*sqlite3*
*.rdb
pgbackups

# static
static
media

# cache
.pytest_cache

# settings
config.yml
docker-compose.override.yml
admin_panel/admin_panel/settings/production.py
