--
-- PostgreSQL database dump
--

\restrict 9X9ZuuIIU8oD7Js1OfAMUj66EX5yVwYYDMkxUeL5LaiIwPzxDxtgi4aEbMk1T9P

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO ballsdex;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO ballsdex;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO ballsdex;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO ballsdex;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO ballsdex;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO ballsdex;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ball; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.ball (
    id bigint NOT NULL,
    country character varying(48) NOT NULL,
    health integer NOT NULL,
    attack integer NOT NULL,
    rarity double precision NOT NULL,
    emoji_id bigint NOT NULL,
    wild_card character varying(200) NOT NULL,
    collection_card character varying(200) NOT NULL,
    credits character varying(64) NOT NULL,
    capacity_name character varying(64) NOT NULL,
    capacity_description character varying(256) NOT NULL,
    capacity_logic jsonb NOT NULL,
    enabled boolean NOT NULL,
    short_name character varying(24),
    catch_names text,
    tradeable boolean NOT NULL,
    created_at timestamp with time zone,
    translations text,
    economy_id bigint,
    regime_id bigint NOT NULL
);


ALTER TABLE public.ball OWNER TO ballsdex;

--
-- Name: ball_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.ball ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ball_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ballinstance; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.ballinstance (
    id bigint NOT NULL,
    catch_date timestamp with time zone NOT NULL,
    health_bonus integer NOT NULL,
    attack_bonus integer NOT NULL,
    favorite boolean NOT NULL,
    server_id bigint,
    tradeable boolean NOT NULL,
    extra_data jsonb NOT NULL,
    locked timestamp with time zone,
    spawned_time timestamp with time zone,
    ball_id bigint NOT NULL,
    player_id bigint NOT NULL,
    trade_player_id bigint,
    special_id bigint,
    deleted boolean NOT NULL
);


ALTER TABLE public.ballinstance OWNER TO ballsdex;

--
-- Name: ballinstance_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.ballinstance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ballinstance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: blacklistedguild; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.blacklistedguild (
    id bigint NOT NULL,
    discord_id bigint NOT NULL,
    reason text,
    date timestamp with time zone,
    moderator_id bigint
);


ALTER TABLE public.blacklistedguild OWNER TO ballsdex;

--
-- Name: blacklistedguild_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.blacklistedguild ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.blacklistedguild_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: blacklistedid; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.blacklistedid (
    id bigint NOT NULL,
    discord_id bigint NOT NULL,
    reason text,
    date timestamp with time zone,
    moderator_id bigint
);


ALTER TABLE public.blacklistedid OWNER TO ballsdex;

--
-- Name: blacklistedid_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.blacklistedid ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.blacklistedid_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: blacklisthistory; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.blacklisthistory (
    id bigint NOT NULL,
    discord_id bigint NOT NULL,
    moderator_id bigint NOT NULL,
    reason text,
    date timestamp with time zone NOT NULL,
    id_type character varying(64) NOT NULL,
    action_type character varying(64) NOT NULL
);


ALTER TABLE public.blacklisthistory OWNER TO ballsdex;

--
-- Name: blacklisthistory_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.blacklisthistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.blacklisthistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: block; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.block (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    player1_id bigint NOT NULL,
    player2_id bigint NOT NULL
);


ALTER TABLE public.block OWNER TO ballsdex;

--
-- Name: block_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.block ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.block_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO ballsdex;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO ballsdex;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO ballsdex;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO ballsdex;

--
-- Name: economy; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.economy (
    id bigint NOT NULL,
    name character varying(64) NOT NULL,
    icon character varying(200) NOT NULL
);


ALTER TABLE public.economy OWNER TO ballsdex;

--
-- Name: economy_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.economy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.economy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: friendship; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.friendship (
    id bigint NOT NULL,
    since timestamp with time zone NOT NULL,
    player1_id bigint NOT NULL,
    player2_id bigint NOT NULL
);


ALTER TABLE public.friendship OWNER TO ballsdex;

--
-- Name: friendship_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.friendship ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.friendship_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: guildconfig; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.guildconfig (
    id bigint NOT NULL,
    guild_id bigint NOT NULL,
    spawn_channel bigint,
    enabled boolean NOT NULL,
    silent boolean NOT NULL
);


ALTER TABLE public.guildconfig OWNER TO ballsdex;

--
-- Name: guildconfig_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.guildconfig ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.guildconfig_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: player; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.player (
    id bigint NOT NULL,
    discord_id bigint NOT NULL,
    donation_policy smallint NOT NULL,
    privacy_policy smallint NOT NULL,
    mention_policy smallint NOT NULL,
    friend_policy smallint NOT NULL,
    extra_data jsonb NOT NULL,
    trade_cooldown_policy smallint NOT NULL
);


ALTER TABLE public.player OWNER TO ballsdex;

--
-- Name: player_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.player ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.player_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: regime; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.regime (
    id bigint NOT NULL,
    name character varying(64) NOT NULL,
    background character varying(200) NOT NULL
);


ALTER TABLE public.regime OWNER TO ballsdex;

--
-- Name: regime_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.regime ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.regime_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_association; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.social_auth_association (
    id bigint NOT NULL,
    server_url character varying(255) NOT NULL,
    handle character varying(255) NOT NULL,
    secret character varying(255) NOT NULL,
    issued integer NOT NULL,
    lifetime integer NOT NULL,
    assoc_type character varying(64) NOT NULL
);


ALTER TABLE public.social_auth_association OWNER TO ballsdex;

--
-- Name: social_auth_association_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.social_auth_association ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_association_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_code; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.social_auth_code (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    code character varying(32) NOT NULL,
    verified boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL
);


ALTER TABLE public.social_auth_code OWNER TO ballsdex;

--
-- Name: social_auth_code_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.social_auth_code ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_code_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_nonce; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.social_auth_nonce (
    id bigint NOT NULL,
    server_url character varying(255) NOT NULL,
    "timestamp" integer NOT NULL,
    salt character varying(65) NOT NULL
);


ALTER TABLE public.social_auth_nonce OWNER TO ballsdex;

--
-- Name: social_auth_nonce_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.social_auth_nonce ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_nonce_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_partial; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.social_auth_partial (
    id bigint NOT NULL,
    token character varying(32) NOT NULL,
    next_step smallint NOT NULL,
    backend character varying(32) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    data jsonb NOT NULL,
    CONSTRAINT social_auth_partial_next_step_check CHECK ((next_step >= 0))
);


ALTER TABLE public.social_auth_partial OWNER TO ballsdex;

--
-- Name: social_auth_partial_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.social_auth_partial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_partial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: social_auth_usersocialauth; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.social_auth_usersocialauth (
    id bigint NOT NULL,
    provider character varying(32) NOT NULL,
    uid character varying(255) NOT NULL,
    user_id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    modified timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    CONSTRAINT user_social_auth_uid_required CHECK ((NOT ((uid)::text = ''::text)))
);


ALTER TABLE public.social_auth_usersocialauth OWNER TO ballsdex;

--
-- Name: social_auth_usersocialauth_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.social_auth_usersocialauth ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.social_auth_usersocialauth_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: special; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.special (
    id bigint NOT NULL,
    name character varying(64) NOT NULL,
    catch_phrase character varying(128),
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    rarity double precision NOT NULL,
    emoji character varying(20),
    background character varying(200),
    tradeable boolean NOT NULL,
    hidden boolean NOT NULL,
    credits character varying(64)
);


ALTER TABLE public.special OWNER TO ballsdex;

--
-- Name: special_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.special ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.special_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trade; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.trade (
    id bigint NOT NULL,
    date timestamp with time zone NOT NULL,
    player1_id bigint NOT NULL,
    player2_id bigint NOT NULL
);


ALTER TABLE public.trade OWNER TO ballsdex;

--
-- Name: trade_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.trade ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tradeobject; Type: TABLE; Schema: public; Owner: ballsdex
--

CREATE TABLE public.tradeobject (
    id bigint NOT NULL,
    ballinstance_id bigint NOT NULL,
    player_id bigint NOT NULL,
    trade_id bigint NOT NULL
);


ALTER TABLE public.tradeobject OWNER TO ballsdex;

--
-- Name: tradeobject_id_seq; Type: SEQUENCE; Schema: public; Owner: ballsdex
--

ALTER TABLE public.tradeobject ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tradeobject_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$mwLXmCkXNEUnIxSoowDKyq$QzjPCZd85wOFaAV5hG7FJdCV8+EX7VKEKrz04PEoI1A=	2025-12-21 02:03:08.134187+00	t	krxts			imts49504@gmail.com	t	t	2025-12-21 02:02:54.365527+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: ball; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: ballinstance; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: blacklistedguild; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.blacklistedguild (id, discord_id, reason, date, moderator_id) FROM stdin;
\.


--
-- Data for Name: blacklistedid; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.blacklistedid (id, discord_id, reason, date, moderator_id) FROM stdin;
\.


--
-- Data for Name: blacklisthistory; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.blacklisthistory (id, discord_id, moderator_id, reason, date, id_type, action_type) FROM stdin;
\.


--
-- Data for Name: block; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.block (id, date, player1_id, player2_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: ballsdex
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
3tlnvz3n6zryn2pgebvfx0wt32vyk3wz	.eJxVjEEOwiAQRe_C2pBSOgO4dO8ZyDCAVA0kpV0Z765NutDtf-_9l_C0rcVvPS1-juIslDj9boH4keoO4p3qrUludV3mIHdFHrTLa4vpeTncv4NCvXzrEKZIIxOM5JRxRAOk5AJmjSYDBlCoyWaFjAlhIEPIYIEntFYDsHh_APgPN9w:1vX8mq:kxSMbKBvUhPPsn4tfuW2eitWEUX4KBjuXFuCGSSC2lE	2026-01-04 02:03:08.153872+00
\.


--
-- Data for Name: economy; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.economy (id, name, icon) FROM stdin;
1	Capitalist	capitalist.png
2	Communist	communist.png
35	FC Barcelona	FC_Barcelona_crest.svg.png
34	manchester city	Manchester_City_FC_badge.svg.webp
36	Juventus (old)	Juventus-symbol.png
37	Inter Miami	Inter_Miami_CF_logo.svg.png
38	al nassr	al_nassr.png
39	Santos FC	Santos_Logo.png
40	SSC Napoli	SSC_Napoli_2025_white_and_azure.svg.png
41	Bayern	FC_Bayern_M├╝nchen_logo_2024.svg.png
42	real madrid	163.png
43	AC Milan	Logo_of_AC_Milan.svg.png
\.


--
-- Data for Name: friendship; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.friendship (id, since, player1_id, player2_id) FROM stdin;
\.


--
-- Data for Name: guildconfig; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.guildconfig (id, guild_id, spawn_channel, enabled, silent) FROM stdin;
\.


--
-- Data for Name: player; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.player (id, discord_id, donation_policy, privacy_policy, mention_policy, friend_policy, extra_data, trade_cooldown_policy) FROM stdin;
2	1433714788101263400	1	2	1	1	{}	1
1	1189267310997946568	1	2	1	1	{"last_daily_claim": 1766350936, "last_weekly_claim": 1766350948}	1
4	589080950340845568	1	2	1	1	{"last_daily_claim": 1766872188, "last_weekly_claim": 1766872198}	1
3	820301258702979162	1	2	1	1	{"last_daily_claim": 1766872261, "last_weekly_claim": 1766350953}	1
\.


--
-- Data for Name: regime; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.regime (id, name, background) FROM stdin;
1	Democracy	democracy.png
2	Dictatorship	dictatorship.png
3	Union	union.png
34	base	base.png
36	custom	custom.png
35	icon	icon_n2e0cOU.png
\.


--
-- Data for Name: social_auth_association; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.social_auth_association (id, server_url, handle, secret, issued, lifetime, assoc_type) FROM stdin;
\.


--
-- Data for Name: social_auth_code; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.social_auth_code (id, email, code, verified, "timestamp") FROM stdin;
\.


--
-- Data for Name: social_auth_nonce; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.social_auth_nonce (id, server_url, "timestamp", salt) FROM stdin;
\.


--
-- Data for Name: social_auth_partial; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.social_auth_partial (id, token, next_step, backend, "timestamp", data) FROM stdin;
\.


--
-- Data for Name: social_auth_usersocialauth; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.social_auth_usersocialauth (id, provider, uid, user_id, created, modified, extra_data) FROM stdin;
\.


--
-- Data for Name: special; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.special (id, name, catch_phrase, start_date, end_date, rarity, emoji, background, tradeable, hidden, credits) FROM stdin;
1	Shiny	**Γ£¿ It's a shiny countryball! Γ£¿**	\N	\N	0.01	Γ£¿	shiny_lbL07CX.png	t	f	I'm TS
\.


--
-- Data for Name: trade; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.trade (id, date, player1_id, player2_id) FROM stdin;
1	2025-12-21 20:50:42.745457+00	1	3
\.


--
-- Data for Name: tradeobject; Type: TABLE DATA; Schema: public; Owner: ballsdex
--

COPY public.tradeobject (id, ballinstance_id, player_id, trade_id) FROM stdin;
1	4	1	1
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 132, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: ball_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.ball_id_seq', 19, true);


--
-- Name: ballinstance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.ballinstance_id_seq', 33, true);


--
-- Name: blacklistedguild_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.blacklistedguild_id_seq', 1, false);


--
-- Name: blacklistedid_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.blacklistedid_id_seq', 1, false);


--
-- Name: blacklisthistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.blacklisthistory_id_seq', 1, false);


--
-- Name: block_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.block_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 41, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 33, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 66, true);


--
-- Name: economy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.economy_id_seq', 43, true);


--
-- Name: friendship_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.friendship_id_seq', 1, false);


--
-- Name: guildconfig_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.guildconfig_id_seq', 1, false);


--
-- Name: player_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.player_id_seq', 4, true);


--
-- Name: regime_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.regime_id_seq', 36, true);


--
-- Name: social_auth_association_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.social_auth_association_id_seq', 1, false);


--
-- Name: social_auth_code_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.social_auth_code_id_seq', 1, false);


--
-- Name: social_auth_nonce_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.social_auth_nonce_id_seq', 1, false);


--
-- Name: social_auth_partial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.social_auth_partial_id_seq', 1, false);


--
-- Name: social_auth_usersocialauth_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.social_auth_usersocialauth_id_seq', 1, false);


--
-- Name: special_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.special_id_seq', 33, true);


--
-- Name: trade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.trade_id_seq', 1, true);


--
-- Name: tradeobject_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ballsdex
--

SELECT pg_catalog.setval('public.tradeobject_id_seq', 1, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: ball ball_country_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT ball_country_key UNIQUE (country);


--
-- Name: ball ball_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT ball_pkey PRIMARY KEY (id);


--
-- Name: ballinstance ballinstance_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_pkey PRIMARY KEY (id);


--
-- Name: ballinstance ballinstance_player_id_id_961b6354_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_player_id_id_961b6354_uniq UNIQUE (player_id, id);


--
-- Name: blacklistedguild blacklistedguild_discord_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedguild
    ADD CONSTRAINT blacklistedguild_discord_id_key UNIQUE (discord_id);


--
-- Name: blacklistedguild blacklistedguild_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedguild
    ADD CONSTRAINT blacklistedguild_pkey PRIMARY KEY (id);


--
-- Name: blacklistedid blacklistedid_discord_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedid
    ADD CONSTRAINT blacklistedid_discord_id_key UNIQUE (discord_id);


--
-- Name: blacklistedid blacklistedid_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklistedid
    ADD CONSTRAINT blacklistedid_pkey PRIMARY KEY (id);


--
-- Name: blacklisthistory blacklisthistory_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.blacklisthistory
    ADD CONSTRAINT blacklisthistory_pkey PRIMARY KEY (id);


--
-- Name: block block_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: economy economy_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.economy
    ADD CONSTRAINT economy_pkey PRIMARY KEY (id);


--
-- Name: friendship friendship_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.friendship
    ADD CONSTRAINT friendship_pkey PRIMARY KEY (id);


--
-- Name: guildconfig guildconfig_guild_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.guildconfig
    ADD CONSTRAINT guildconfig_guild_id_key UNIQUE (guild_id);


--
-- Name: guildconfig guildconfig_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.guildconfig
    ADD CONSTRAINT guildconfig_pkey PRIMARY KEY (id);


--
-- Name: player player_discord_id_key; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_discord_id_key UNIQUE (discord_id);


--
-- Name: player player_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.player
    ADD CONSTRAINT player_pkey PRIMARY KEY (id);


--
-- Name: regime regime_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.regime
    ADD CONSTRAINT regime_pkey PRIMARY KEY (id);


--
-- Name: social_auth_association social_auth_association_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_association
    ADD CONSTRAINT social_auth_association_pkey PRIMARY KEY (id);


--
-- Name: social_auth_association social_auth_association_server_url_handle_078befa2_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_association
    ADD CONSTRAINT social_auth_association_server_url_handle_078befa2_uniq UNIQUE (server_url, handle);


--
-- Name: social_auth_code social_auth_code_email_code_801b2d02_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_code
    ADD CONSTRAINT social_auth_code_email_code_801b2d02_uniq UNIQUE (email, code);


--
-- Name: social_auth_code social_auth_code_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_code
    ADD CONSTRAINT social_auth_code_pkey PRIMARY KEY (id);


--
-- Name: social_auth_nonce social_auth_nonce_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_nonce
    ADD CONSTRAINT social_auth_nonce_pkey PRIMARY KEY (id);


--
-- Name: social_auth_nonce social_auth_nonce_server_url_timestamp_salt_f6284463_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_nonce
    ADD CONSTRAINT social_auth_nonce_server_url_timestamp_salt_f6284463_uniq UNIQUE (server_url, "timestamp", salt);


--
-- Name: social_auth_partial social_auth_partial_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_partial
    ADD CONSTRAINT social_auth_partial_pkey PRIMARY KEY (id);


--
-- Name: social_auth_usersocialauth social_auth_usersocialauth_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_pkey PRIMARY KEY (id);


--
-- Name: social_auth_usersocialauth social_auth_usersocialauth_provider_uid_e6b5e668_uniq; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_provider_uid_e6b5e668_uniq UNIQUE (provider, uid);


--
-- Name: special special_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.special
    ADD CONSTRAINT special_pkey PRIMARY KEY (id);


--
-- Name: trade trade_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade
    ADD CONSTRAINT trade_pkey PRIMARY KEY (id);


--
-- Name: tradeobject tradeobject_pkey; Type: CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: ball_country_2e76b520_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ball_country_2e76b520_like ON public.ball USING btree (country varchar_pattern_ops);


--
-- Name: ball_economy_id_e2ffacbf; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ball_economy_id_e2ffacbf ON public.ball USING btree (economy_id);


--
-- Name: ball_regime_id_fd6c5dc6; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ball_regime_id_fd6c5dc6 ON public.ball USING btree (regime_id);


--
-- Name: ballinstanc_deleted_fc87fc_idx; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ballinstanc_deleted_fc87fc_idx ON public.ballinstance USING btree (deleted);


--
-- Name: ballinstance_ball_id_0325f9a8; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ballinstance_ball_id_0325f9a8 ON public.ballinstance USING btree (ball_id);


--
-- Name: ballinstance_player_id_4a04cdf8; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ballinstance_player_id_4a04cdf8 ON public.ballinstance USING btree (player_id);


--
-- Name: ballinstance_special_id_bc6930b1; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ballinstance_special_id_bc6930b1 ON public.ballinstance USING btree (special_id);


--
-- Name: ballinstance_trade_player_id_6781600c; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX ballinstance_trade_player_id_6781600c ON public.ballinstance USING btree (trade_player_id);


--
-- Name: block_player1_id_5a4f0aa5; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX block_player1_id_5a4f0aa5 ON public.block USING btree (player1_id);


--
-- Name: block_player2_id_83ba97b5; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX block_player2_id_83ba97b5 ON public.block USING btree (player2_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: friendship_player1_id_dac289fc; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX friendship_player1_id_dac289fc ON public.friendship USING btree (player1_id);


--
-- Name: friendship_player2_id_7988e39f; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX friendship_player2_id_7988e39f ON public.friendship USING btree (player2_id);


--
-- Name: social_auth_code_code_a2393167; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_code_code_a2393167 ON public.social_auth_code USING btree (code);


--
-- Name: social_auth_code_code_a2393167_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_code_code_a2393167_like ON public.social_auth_code USING btree (code varchar_pattern_ops);


--
-- Name: social_auth_code_timestamp_176b341f; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_code_timestamp_176b341f ON public.social_auth_code USING btree ("timestamp");


--
-- Name: social_auth_partial_timestamp_50f2119f; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_partial_timestamp_50f2119f ON public.social_auth_partial USING btree ("timestamp");


--
-- Name: social_auth_partial_token_3017fea3; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_partial_token_3017fea3 ON public.social_auth_partial USING btree (token);


--
-- Name: social_auth_partial_token_3017fea3_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_partial_token_3017fea3_like ON public.social_auth_partial USING btree (token varchar_pattern_ops);


--
-- Name: social_auth_usersocialauth_uid_796e51dc; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_usersocialauth_uid_796e51dc ON public.social_auth_usersocialauth USING btree (uid);


--
-- Name: social_auth_usersocialauth_uid_796e51dc_like; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_usersocialauth_uid_796e51dc_like ON public.social_auth_usersocialauth USING btree (uid varchar_pattern_ops);


--
-- Name: social_auth_usersocialauth_user_id_17d28448; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX social_auth_usersocialauth_user_id_17d28448 ON public.social_auth_usersocialauth USING btree (user_id);


--
-- Name: trade_player1_id_4761b703; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX trade_player1_id_4761b703 ON public.trade USING btree (player1_id);


--
-- Name: trade_player2_id_739ad466; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX trade_player2_id_739ad466 ON public.trade USING btree (player2_id);


--
-- Name: tradeobject_ballinstance_id_f2522b63; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX tradeobject_ballinstance_id_f2522b63 ON public.tradeobject USING btree (ballinstance_id);


--
-- Name: tradeobject_player_id_ba3b263c; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX tradeobject_player_id_ba3b263c ON public.tradeobject USING btree (player_id);


--
-- Name: tradeobject_trade_id_57bea0c5; Type: INDEX; Schema: public; Owner: ballsdex
--

CREATE INDEX tradeobject_trade_id_57bea0c5 ON public.tradeobject USING btree (trade_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ball ball_economy_id_e2ffacbf_fk_economy_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT ball_economy_id_e2ffacbf_fk_economy_id FOREIGN KEY (economy_id) REFERENCES public.economy(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ball ball_regime_id_fd6c5dc6_fk_regime_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ball
    ADD CONSTRAINT ball_regime_id_fd6c5dc6_fk_regime_id FOREIGN KEY (regime_id) REFERENCES public.regime(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ballinstance ballinstance_ball_id_0325f9a8_fk_ball_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_ball_id_0325f9a8_fk_ball_id FOREIGN KEY (ball_id) REFERENCES public.ball(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ballinstance ballinstance_player_id_4a04cdf8_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_player_id_4a04cdf8_fk_player_id FOREIGN KEY (player_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ballinstance ballinstance_special_id_bc6930b1_fk_special_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_special_id_bc6930b1_fk_special_id FOREIGN KEY (special_id) REFERENCES public.special(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ballinstance ballinstance_trade_player_id_6781600c_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.ballinstance
    ADD CONSTRAINT ballinstance_trade_player_id_6781600c_fk_player_id FOREIGN KEY (trade_player_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: block block_player1_id_5a4f0aa5_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_player1_id_5a4f0aa5_fk_player_id FOREIGN KEY (player1_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: block block_player2_id_83ba97b5_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.block
    ADD CONSTRAINT block_player2_id_83ba97b5_fk_player_id FOREIGN KEY (player2_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: friendship friendship_player1_id_dac289fc_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.friendship
    ADD CONSTRAINT friendship_player1_id_dac289fc_fk_player_id FOREIGN KEY (player1_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: friendship friendship_player2_id_7988e39f_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.friendship
    ADD CONSTRAINT friendship_player2_id_7988e39f_fk_player_id FOREIGN KEY (player2_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: social_auth_usersocialauth social_auth_usersocialauth_user_id_17d28448_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.social_auth_usersocialauth
    ADD CONSTRAINT social_auth_usersocialauth_user_id_17d28448_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trade trade_player1_id_4761b703_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade
    ADD CONSTRAINT trade_player1_id_4761b703_fk_player_id FOREIGN KEY (player1_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trade trade_player2_id_739ad466_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.trade
    ADD CONSTRAINT trade_player2_id_739ad466_fk_player_id FOREIGN KEY (player2_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tradeobject tradeobject_ballinstance_id_f2522b63_fk_ballinstance_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_ballinstance_id_f2522b63_fk_ballinstance_id FOREIGN KEY (ballinstance_id) REFERENCES public.ballinstance(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tradeobject tradeobject_player_id_ba3b263c_fk_player_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_player_id_ba3b263c_fk_player_id FOREIGN KEY (player_id) REFERENCES public.player(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: tradeobject tradeobject_trade_id_57bea0c5_fk_trade_id; Type: FK CONSTRAINT; Schema: public; Owner: ballsdex
--

ALTER TABLE ONLY public.tradeobject
    ADD CONSTRAINT tradeobject_trade_id_57bea0c5_fk_trade_id FOREIGN KEY (trade_id) REFERENCES public.trade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict 9X9ZuuIIU8oD7Js1OfAMUj66EX5yVwYYDMkxUeL5LaiIwPzxDxtgi4aEbMk1T9P

