x-common-env-vars:
  - &postgres-db
    POSTGRES_DB=ballsdex
  - &postgres-user
    POSTGRES_USER=ballsdex
  - &postgres-url
    "BALLSDEXBOT_DB_URL=postgres://ballsdex:${POSTGRES_PASSWORD}@postgres:5432/ballsdex"
  # if serving the admin panel online, copy the file "production.example.py" and replace with
  # - DJANGO_SETTINGS_MODULE=config.production
  - &django-settings
    "DJANGO_SETTINGS_MODULE=admin_panel.settings"


services:
  bot:
    restart: "no"
    image: ballsdex
    build: .
    environment:
      - *postgres-url
      - *django-settings
    depends_on:
      migration:
        condition: service_completed_successfully
      postgres-db:
        condition: service_healthy
    # ports:
    #   - "127.0.0.1:15260:15260"
    networks:
      - internal
    volumes:
      - "./logs/:/var/log/ballsdex/:rw"
      - "./config:/code/admin_panel/config:ro"
      - "./admin_panel/media:/code/admin_panel/media:rw"
    tty: true
    working_dir: /code/
    command: python3 -m ballsdex --dev
    # develop:
    #   watch:
    #     - path: ./ballsdex/packages
    #       target: /code/ballsdex/packages
    #       initial_sync: true
    #       action: sync
    #       ignore:
    #         - "**.pyc"
    #     - path: ./ballsdex
    #       target: /code/ballsdex
    #       initial_sync: true
    #       action: sync+restart
    #       ignore:
    #         - "**.pyc"
    #         - "./ballsdex/packages"
    #     - path: ./admin_panel
    #       target: /code/admin_panel
    #       initial_sync: true
    #       action: sync+restart
    #       ignore:
    #         - "**.pyc"
    #     - path: ./uv.lock
    #       action: rebuild

  admin-panel:
    image: ballsdex
    build: .
    hostname: admin-panel
    networks:
      - internal
      - nginx
    environment:
      - *postgres-url
      - *django-settings
    depends_on:
      migration:
        condition: service_completed_successfully
      postgres-db:
        condition: service_healthy
    volumes:
      - "./logs/:/var/log/ballsdex/:rw"
      - "./config:/code/admin_panel/config:ro"
      - "./admin_panel/templates:/code/admin_panel/templates:ro"
      - "./admin_panel/media:/code/admin_panel/media:rw"
    tty: true
    working_dir: /code/admin_panel
    command: "python3 -m uvicorn admin_panel.asgi:application --host 0.0.0.0"

  migration:
    image: ballsdex
    build: .
    networks:
      - internal
    environment:
      - *postgres-url
      - *django-settings
      - "STATIC_ROOT=/var/www/ballsdex/static"
    volumes:
      - "./config:/code/admin_panel/config:ro"
      - "./admin_panel/staticfiles:/code/admin_panel/staticfiles:ro"
      - static-files:/var/www/ballsdex/static:rw
    depends_on:
      postgres-db:
        condition: service_healthy
    user: root
    working_dir: /code/admin_panel
    command: >
      sh -c "
      django-admin migrate --no-input --fake-initial &&
      django-admin collectstatic --no-input
      "

  proxy:
    image: nginx:1.29.3-alpine3.22
    restart: on-failure:3
    hostname: nginx
    depends_on:
      admin-panel:
        condition: service_started
    ports:
      - "127.0.0.1:8000:80"
    networks:
      - nginx
    volumes:
      - ./bd-nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./admin_panel/media:/var/www/ballsdex/media:ro
      - static-files:/var/www/ballsdex/static:ro

  postgres-db:
    image: postgres:18.1-alpine3.22
    restart: always
    hostname: postgres
    shm_size: 1g
    environment:
      - *postgres-db
      - *postgres-user
      - POSTGRES_PASSWORD
    # WARNING: before exposing ports, change the default db password in the .env file!
    # ports:
    #   - "127.0.0.1:5432:5432"
    networks:
      - internal
    volumes:  # Persist the db data
      - database-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-ballsdex}"]
      interval: 5s
      timeout: 5s
      retries: 5

  postgres-backup:
    image: prodrigestivill/postgres-backup-local
    restart: always
    # Uncomment to have the backup files owned by your local user instead of root
    # user: username
    volumes:
      - ./pgbackups:/backups
    depends_on:
      postgres-db:
        condition: service_healthy
    networks:
      - internal
    environment:
      - *postgres-db
      - *postgres-user
      - POSTGRES_PASSWORD
      - POSTGRES_HOST=postgres
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
      - HEALTHCHECK_PORT=3928

  # Uncomment to enable gateway proxy feature and
  # add "--gateway-url ws://gateway_proxy:5421" to your startup flags
  # Also change tag corresponding to your platform if not x86-64
  #
  # gateway-proxy:
  #   container_name: gateway_proxy
  #   image: ghcr.io/martinebot/gateway-proxy:x86-64
  #   restart: always
  #   volumes:
  #     - ./gatewayproxy/config.json:/config.json
  #   networks:
  #     - internal

volumes:
  database-data:
  cache-data:
  static-files:

networks:
  internal:
  nginx:
