[tool.poetry]
name = "ballsdex"
version = "1.0.0a1"
description = ""
authors = ["laggron42 <laggron42@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.12, <3.14"

# asyncio
uvloop = { version = "^0.21.0", markers = "sys_platform != 'win32'" }

# discord
"discord.py" = "^2.4.0"
audioop-lts = {version = "^0.2.1", python = ">=3.13" }

# fastapi
fastapi = "^0.115.4"
fastapi-admin = {git = "https://github.com/Ballsdex-Team/fastapi-admin", branch = "ballsdex"}
uvicorn = "^0.32.0"

# database ORM
tortoise-orm = {extras = ["asyncpg"], version = "^0.22.2"}
tortoise-cli = "^0.1.2"

# misc
rich = "^13.8.0"
python-dateutil = "^2.9.0"
Pillow = "^10.4.0"
aerich = "^0.6.3"
pyyaml = "^6.0.2"
cachetools = "^5.5.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.7.1"
black = {version = "^24.8.0", allow-prereleases = true}
flake8-pyproject = "^1.2.3"
pyright = "^1.1.335"
isort = "^5.13.2"


[tool.poetry.group.metrics.dependencies]
prometheus-client = "^0.20.0"

[tool.aerich]
tortoise_orm = "ballsdex.__main__.TORTOISE_ORM"
location = "./migrations"
src_folder = "./ballsdex"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 99

[tool.flake8]
ignore = "W503,E203"
max-line-length = 99

[tool.isort]
profile = "black"
line_length = 99
