#preview-sidebar {
    flex-basis: 33%;
    order: 1;
    background: var(--darkened-bg);
    border-left: none;
    margin: 0 0 0 30px;
    position: sticky;
    top: 10px;
}

#preview-sidebar h2 {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 5px 15px;
    margin-bottom: 12px;
    border-bottom: none;
}

#preview-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin: 10px;
}